.single_catagory span a {
	text-decoration: none;
	color: #fff;
}



/* .card input {
	background-color: rgb(117, 0, 207);
} */



/* .login .card input:focus {
	color: #fff;
	background-color: rgb(14, 12, 17);
} */
